<div id="tabs" width="100%">
  <ul>
    <li><a href="#tabs-1">Les plus jeunes</a></li>
    <li><a href="#tabs-2">Les plus agés</a></li>
  </ul>
  <div id="tabs-1" style="width:800px;">
    <%= render :partial => 'young' %>
  </div>
  <div id="tabs-2" style="width:800px;">
    <%= render :partial => 'old' %>
  </div>
</div>