<table style="border-spacing:0px">
  <tr>
    <td>
      <%= render partial: "race_runners/display_jersey", locals: {:race_runner => race_runner, :stage => stage} %>
    </td>
    <td>
      <%= link_to race_runner.display_fullname, cyclist_path(race_runner.cyclist) %>
    </td>
  </tr>
</table>
