<table style="border-spacing:0px">
  <tr>
    <td>
      <% if (stage != nil && stage.ig_stage_result != nil && stage.ig_stage_result.previous_leader == race_runner) then %>
          <img src="/assets/maillot_jaune_20.png"/>
      <% end %>
      <% if (stage != nil && stage.ig_stage_result != nil && stage.ig_stage_result.previous_sprinter == race_runner) then %>
          <img src="/assets/maillot_vert_20.png"/>
      <% end %>
      <% if (stage != nil && stage.ig_stage_result != nil && stage.ig_stage_result.previous_climber == race_runner) then %>
          <img src="/assets/maillot_pois_20.png"/>
      <% end %>
      <% if (stage != nil && stage.ig_stage_result != nil && stage.ig_stage_result.previous_young == race_runner) then %>
          <img src="/assets/maillot_blanc_20.png"/>
      <% end %>
    </td>
    <td>
      <%= link_to race_runner.display_fullname, cyclist_path(race_runner.cyclist) %>
    </td>
  </tr>
</table>
