<%= form_for(@stat_misc) do |f| %>
  <% if @stat_misc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stat_misc.errors.count, "error") %> prohibited this stat_misc from being saved:</h2>

      <ul>
      <% @stat_misc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
