<h1>Editing mountain_stage_result</h1>

<%= render 'form' %>

<%= link_to '-',
            mountain_stage_result_path(@mountain_stage_result),
            method: :delete,
            data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Show', @mountain_stage_result %> |
<%= link_to 'Back', mountain_stage_results_path %>
