<p id="notice"><%= notice %></p>

<table width="100%">
  <tr>
    <td valign="top">
      <% @race_runners = @race.race_runners %>
      <%= render :partial => 'race_runners/list' %>
      </td>
    </tr>
</table>

