<p id="notice"><%= notice %></p>

<h1>Yj Stage Results</h1>

Il y a <b><%= @yj_stage_results.size() %></b> entrées connues du classement général.
<br>

<%= link_to 'New Yj Stage Result', new_yj_stage_result_path %>
