<h1>Les étapes</h1>
<div id="search">
  <%= render :partial => 'stages/search' %>
</div>
<div id="list">
  <%= render :partial => 'stages/list' %>
</div>


<br />

<%= link_to 'New Stage', new_stage_path %>
